* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #101010;
}
.app-wrapper h1 {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    margin-block: 3rem;
    color: #b05e8d;
}

.todo-list-form{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 5rem;
}
.form-input {
    font-size: 2.2rem;
    font-weight: 400;
    padding: 1.5rem;
    background-color: #101010;
    color: rgb(220, 149, 18);
    border: 1px solid #808080;
    border-radius: 5px;
    
}

.form-input::placeholder {
    color: #b85b00; 
    text-transform: capitalize;   
}

.todo-list-form button{
    background-color: #63ff8a;
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.todo-list-form button:hover{
    background-color: #54de76;
}
.app-wrapper h2 {
    color: #b05e8d;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
}

.todo-list-item, .heading{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 1rem auto;
}

.todo-list-item > :first-child {
    width: 35%;
}

.todo-list-item > :last-child {
    width: 65%;
}

.todo-lists-container {
    color: #d3d3d3;
    font-size: 2rem;
}

.heading {
    color: white;
    font-size: 2.2rem;
}

.heading > :first-child {
    width: 35%;
}

.heading > :last-child {
    width: 65%;
}

hr {
    width: 60%;
    margin: .2rem auto;
    background-color: rgb(87, 87, 87);
    height: .1rem;
    border: none;
}